habit-tracker-fe/node_modules/
habit-tracker-fe/dist/
habit-tracker-fe/dist-ssr/
habit-tracker-fe/coverage/
habit-tracker-fe/.eslintcache
habit-tracker-fe/*.tsbuildinfo

habit-tracker-be/target/
habit-tracker-be/build/
habit-tracker-be/HELP.md
habit-tracker-be/.apt_generated
habit-tracker-be/.classpath
habit-tracker-be/.factorypath
habit-tracker-be/.project
habit-tracker-be/.settings/
habit-tracker-be/.springBeans
habit-tracker-be/.sts4-cache
habit-tracker-be/*.iws
habit-tracker-be/*.iml
habit-tracker-be/*.ipr
habit-tracker-be/nbproject/private/
habit-tracker-be/nbbuild/
habit-tracker-be/dist/
habit-tracker-be/nbdist/
habit-tracker-be/.nb-gradle/
habit-tracker-be/.vscode/

logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

.env
.env.*
!.env.example
*.local

.vscode/*
!.vscode/extensions.json
habit-tracker-fe/.vscode/*
!habit-tracker-fe/.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.DS_Store
Thumbs.db
.codex
